# Large binary files
*.rar
*.zip

# Dependencies
node_modules/
SmartNest/node_modules/
SmartNest/client/node_modules/
SmartNest/server/node_modules/

# Local env files
.env
.env.local
.env.*.local
SmartNest/client/.env
SmartNest/client/.env.local
SmartNest/server/.env
SmartNest/server/.env.local

# Firebase Admin keys
SmartNest/server/config/serviceAccountKey.json
serviceAccountKey.json
